.textarea {
	width: 100%;
	padding: 6px;
	border: 1px solid var(--darkOrange);
	border-radius: 6px;
}

.buttons-wrapper {
	display: flex;
	gap: 1em;
	justify-content: center;
}

.buttons-wrapper > button {
	width: 100%;
}