.army-header {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}
.army-title {
	font-size: 18px;
	font-weight: 600;
	margin-block: 0;
}

header > span {
	font-weight: 500;
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
}

article {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 32px;
}

.article-title {
	font-weight: 600;
	margin: 0;
}

.miniatures-list {
	position: relative;
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.miniatures-list > li {
	margin-bottom: 1rem;
	position: relative;
	min-width: 33%;
}

.miniatures-list__item-link {
	text-decoration: none;
	color: gray;
}

.gallery-container {
	display: flex;
	gap: 2em;
	flex-wrap: wrap;
	justify-content: center;
}

.gallery-container__title {
	width: 100%;
}

.gallery-link {
	display: block;
}

.gallery-img {
	margin-inline: auto;
	max-width: 360px;
	max-height: 350px;
}

@media screen and (min-width: 768px) {
	.miniatures-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
		gap: 30px;
	}
}