.armies-container {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.army-card-wrapper {
	position: relative;
	height: fit-content;
}

@media screen and (min-width: 768px) {
	.armies-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
		gap: 30px;
	}
}