<section class="hero-section">
	<div>
		<img
			class="hero-section__img"
			src="../../../../assets/images/logo.webp"
			alt="power sword"
		>
	</div>
	<div class="hero-section__text">
		<h1 class="hero-section__title">Wharmy</h1>
		<div class="hero-section__subhead">
			Create, manage, and share your Warhammer army with painting guides and tutorials.
		</div>
		<div>
			<a
				class="hero-section__cta"
				routerLink="/dashboard"
			>
				Get Started
			</a>
		</div>
		<div style="padding-bottom: 16px">
			<a
				class="hero-section__link"
				routerLink="/armies"
			>
				Explore Armies
			</a>
		</div>
	</div>
</section>
