.hero-section {
	width: 100%;
	display: flex;
	margin-inline: auto;
	column-gap: 12px;
	padding: 1em;
	border-radius: 6px;
	border: 1px solid var(--lightOrange);
	background-color: var(--lightBlack);
}
.hero-section__img {
	height: 230px;
	/*width: 59px;*/
}

.hero-section__text {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
	background-color: var(--ivory);
}
.hero-section__title {
	font-size: 42px;
	font-weight: 700;
	margin: 0;
}
.hero-section__subhead {
	font-size: 1rem;
	letter-spacing: .15px;
	margin: 0 auto 0;
	width: 100%;
}
.hero-section__cta {
	text-decoration: none;
	font-size: 1rem;
	background-color: var(--lightOrange);
	border: 1px solid var(--darkOrange);
	padding: 8px 18px;
	border-radius: 4px;
	color: black;
	line-height: 2.5rem;
}

.hero-section__link {
	font-size: 13px;
	text-decoration: 0;
	color: black;
	border: 1px solid;
	border-radius: 6px;
	padding: 6px 8px;
	transition: .2s ease-in-out;
}

.hero-section__link:hover {
	border-color: var(--lightOrange);
}


@media screen and (min-width: 576px) {
	.hero-section {
		max-width: 60%;
	}
}
